MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DISPLAY_NAME=ScamShield

FIREBASE_WEB_API_KEY=
SMS_OTP_MAX_REQUESTS_PER_24_HOURS=10

JWT_SECRET=
JWT_EXPIRATION_MS=3600000
JWT_REFRESH_EXPIRATION_MS=86400000

# OTP/token expiration in milliseconds: 300000 = 5 min; 600000 = 10 min
EMAIL_OTP_EXPIRATION_MS=300000
PHONE_OTP_EXPIRATION_MS=300000
CONTACT_VERIFICATION_EXPIRATION_MS=600000
